<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>BDs inteligentes</title>
        <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
        {% load staticfiles %}
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="login-card">
            
            <div id = "content">{{ text }}</div>
            
            <br><br>
            
            <center>  <button onclick='goBack()' class="login login-submit">Go Back</button> </center>

        </div>

        <script>
        function goBack() {
            window.history.back();
        }

        document.getElementById('content').innerHTML = prettifier('{{ text }}') ;//+ "<center>  <button onclick='goBack()'>Go Back</button> </center>";
        
        function prettifier(text) {

            text = text.replace(/&#39;/g, '\'')

            var last = 0;
            var newText = "";
            
            {% if annotations %}
            {% for resource in annotations %} 
                
                for (var i = last; i < text.length; i++) {
                    last = i;
                    
                    if (i == {{resource.offset}}) {
                        newText += "<a href='#' class='tooltip'> {{resource.surfaceForm}} <span>";
                        newText += "<h2>{{resource.attributeValues.label}}</h2><br/>";
                        
                        var value;
                        var limit;
                        
                        {% for name, value in resource.attributeValues.items %}
                           value = "{{ value }}";
                           limit = Math.min(value.length, 500);
                          
                           {% if name != "label" %}
                              newText += "<b>{{ name.title }}</b>: " + value.substr(0,limit) + ((limit==500)?("<i> (...)</i>"):("")) + "<br />";
                           {% endif %}
                          
                        {% endfor %}
                        
                        newText += "</span></a>"
                        last += "{{resource.surfaceForm}}".length;
                        break;
                    }
                    
                    else newText += text[i];
                }
                    
            {% endfor %}
            {% endif %}
            
            for (var i = last; i < text.length; i++) {
                newText += text[i];
            }
                    
            return newText;
            
        }
       </script>

        <!--<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script> -->
        <!--<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script> -->
        
        
    </body>
</html>
